body {
  padding-top: 50px;
  text-align: center;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 22pt;
  margin-bottom: 50px;
}

h1 i {
  margin-right: 5px;
}

#search {
  margin-bottom: 30px;
}

#search input[type="text"] {
  width: 220px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 12pt;
  padding: 5px 7px;
  border: 1px solid #eee;
  border-radius: 6px;
}

#search input[type="submit"] {
  font-size: 10pt;
  vertical-align: middle;
}

#found_labels {
  margin-top: 30px;
}
